h1
{
font-size: 40px;
background-color: black;
color: white;
border-radius: 20px;
width: 300px;
}

button
{
    color: white;
    background-color: black;
    height: 35px;
    width:150px;
    border-radius: 20px;
}

button:hover{
    background-color: darkblue;
}

h1:hover{
    background-color: darkblue;
}
